<section>
  <h1 class="title title--primary">Welcome :)</h1>
  <p class="description">Hello <%= locals.user && user.name ? user.name : 'Anonymous' %>!</p>

  <form action="/logout" method="post" style="display: inline;">
    <button type="submit" class="btn btn--logout">Log out</button>
  </form>
</section>
<section>
  <h2>Upload a file</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <p class="form__input-wrapper">
      <input type="file" name="files" id="files" required class="form__input form__input--upload">
    </p>
    <button type="submit" class="btn btn--submit">Upload</button>
</form>
</section>

