<section class="hero">
  <h1 class="hero__title">Lorem ipsum dolor sit amet.</h1>
  <p class="hero__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, suscipit! Ex libero obcaecati laboriosam maiores tempora ullam ipsa, eum quibusdam sint. Velit reprehenderit eius voluptates dicta asperiores laborum. Eaque, dolores!</p>
  <!-- <img src="" alt="" class="hero__img"> -->
  <a href="/login" class="hero__cta">Upload Now!</a>
</section>
