<section class="login">
  <h1 class="title title--primary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, ea.</h1>
  <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam omnis possimus, rem repellat tenetur dolores quam quod provident similique quia magni! Odit vitae id nobis adipisci cumque iure iusto. Commodi?</p>

  <form action="/loign" method="post" class="form">
    <p class="form__input-wrapper">
      <label for="email" class="form__label">Email address</label>
      <input 
        type="email" 
        id="email"
        name="email" 
        value="<%= locals.fieldValues && fieldValues.email ? fieldValues.email : ''; %>" 
        required
        class="form__input"
      >
    </p>
    <p class="form__input-wrapper">
      <label for="password" class="form__label">Password</label>
      <input 
        type="password" 
        id="passwoed"
        name="password"
        value="<%= locals.fieldValues && fieldValues.password ? fieldValues.password : ''; %>"
        class="form__input"
        required
      >
    </p>
    <button type="submit" class="btn btn--submit">Log in</button>
  </form>
  <p>Not a member yet? <a href="/signup">Sign up</a>.</p>
</section>

